<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>370041671625-eqtcs4h1t1mlqg51035lsjac3n3nbi57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370041671625-eqtcs4h1t1mlqg51035lsjac3n3nbi57</string>
	<key>API_KEY</key>
	<string>AIzaSyB8RZgDuqOnwOdpLBdo6hihEIlcaOMfKBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>370041671625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.aritaku.chat-firebase</string>
	<key>PROJECT_ID</key>
	<string>chat-smaple</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-smaple.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:370041671625:ios:1a3874ca007df993</string>
	<key>DATABASE_URL</key>
	<string>https://chat-smaple.firebaseio.com</string>
</dict>
</plist>